@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Balle de Pong */
.ball {
  @apply absolute rounded-full z-20;
  width: 20px;
  height: 20px;
  background-color: white;
  animation: pulse 0.5s infinite alternate;
  box-shadow: 0 0 8px white, 0 0 16px #39ff14;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.8;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

/* Effet CRT scanlines */
.crt-effect {
  @apply absolute inset-0 z-[-1] pointer-events-none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03) 0px,
    transparent 1px,
    transparent 2px
  );
  animation: flicker 0.2s infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.98;
  }
}

@layer utilities {
  @keyframes flashy-neon {
    0%, 100% {
      background-color: #39ff14; 
      box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
    }
    50% {
      background-color: #39ff14; 
      box-shadow: 0 0 5px #ccffcc, 0 0 10px #ccffcc;
    }
  }

  .animate-flashy-neon {
    animation: flashy-neon 1.2s ease-in-out infinite;
  }
}
